/* Toolbar*/
#CommonToolbar{
    border-top: 1px solid #444444;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    background-color:#333333;
    background-image:no-repeat scroll 15% 55% #333333;
    color: #FFFFFF;

}
#panelTop {

	display: none;
}
.slide {

        padding: 0;
	border-top: solid 0px #333333;
        margin: 0 25px 0 0;
	background: #333333;
        width: 144px;
	height: 31px;
        margin: 0 25px 0px auto;
        border-bottom-left-radius :10px;
        border-bottom-right-radius: 10px;
}
a.btn-slide {
	background: url("../images/white-arrow.gif") no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 5px 5px 0 0;
	margin: 0 0 0px auto;
	display: block;
        text-decoration: none;
        font-size: 16px;
        letter-spacing:-1px;
        color:#fff;
        font-weight: 700;
}
a.active {
	background-position: right 12px;
}

.slideMenu {
        padding: 0;
	border-top: solid 0px #333333;
        margin: 0 25px 0 0;
	background: #333333;
        width: 100px;
	height: 31px;
        margin: -31px auto 0 0;
        border-bottom-right-radius: 10px;
        z-index: 9999;
}
a.btn-trigger{
    background: url("../images/plus.png") 55% 40% no-repeat ;
    text-align: left ;
    width: 100px;
    height: 31px;
    padding: 5px 30px 0px 15px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing:-1px;
    color:#fff;
    font-weight: 700;
    z-index: 9999;
}
a.btn-trigger:hover{
    background:#222222 url("../images/plus.png") 55% 40% no-repeat;
    /*border:1px solid #444444;*/
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing:-1px;
    color:#fff;
    font-weight: 700;
    z-index: 9999;
}

a.active.btn-trigger {
background:#222222 url("../images/minus.png") 85% 55% no-repeat;
z-index:2;
border:1px solid #444444;
  -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*Menu*/
.panel {
position: absolute;
/*top: 50px;
left: 0;*/
margin: 6px 25px 0 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
width:  inherit;
height: auto;
padding: 30px 30px 30px 130px;
opacity: .85;
z-index:9999;
 }

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}


.panel a, .panel a:visited, .treeTitle{
margin: 0;
padding: 0;
color :#ffffff;
font-size: 12px;
font-weight: 700;
text-decoration: none;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
font-size: 12px;
font-weight: 700;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
top: 100px; left: 0;
text-decoration: none;
font-size: 16px;
letter-spacing:-1px;
color:#fff;
font-weight: 700;
padding: 20px 40px 17px 10px;
background:#333333 url("../images/plus.png") 85% 55% no-repeat;
/*border:1px solid #444444;*/
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
border-bottom-right-radius: 15px;
display: block;
/* Pino z-index: 2;*/
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 100px; left: 0;
font-size: 16px;
letter-spacing:-1px;
color:#fff;
padding: 20px 40px 17px 20px;
font-weight: 700;
background:#222222 url("../images/plus.png") 85% 55% no-repeat;
/*border:1px solid #444444;*/
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-bottomright: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-right-radius: 15px;
display: block;

}

a.active.trigger {
background:#222222 url("../images/minus.png") 85% 55% no-repeat;
/*Pino z-index: 3;*/
border:1px solid #444444;
}

.columns{
clear: both;
width: 330px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 130px;
line-height: 22px;
}

.colright{
float: right;
width: 130px;
line-height: 22px;
}
/*Menu*/
/*Fine ToolBar*/

/*Dimensione Font*/
div.navTools a
{
    position: inherit;
    float:right;
    text-decoration:none;
    color:black;
    font-weight: bold;
    background:#FFF;
    padding:10px;
    margin:1px;
    font: bold 12px arial;
    padding: 3px;
    border: solid 1px #ccc;
}

div.navTools a:hover {
    text-decoration: none;
    background: #333;
    color: #fff;
    border: solid 1px #333;
}

div.navTools a-disabled, div.navTools a-disabled:hover {
    color: #aaa;
    border: solid 1px #eee;
    background: #eee;
}



/* Fine */

.sfondoHeader{
    background-image: url("../images/header_sfondo.gif");
    position: relative;
    width: 20%
}

.sfondoHeaderCenter{
    background-image: url("../images/header_sfondo.gif");
    position: relative;
    width: 60%
}


/* Personalizzazione menu' principale nella barra di navigazione */
.navLinks div.ui-widget-content
{
	background: none;
	border: none;
}

.navLinks ul.ui-widget-content
{
	background: #333333 repeat-x;
	border: none;
}

/*
.navLinks .ui-menuitem-link
{
	color: blue;
	font-weight: bold;
}*/

.navLinks .ui-menu
{
	padding: 0;
	padding-left: 0.3em;
}

.navLinks .ui-menu .ui-menuitem-link
{
	color: whitesmoke;
	
}
